extends layout.pug

block content
  h1 Server Error
  p Sorry! There was an unexpected error on the server.
  //-
   Error template language adapted from the Team Treehouse starter files for
   Project 8. 
