<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body

    block content
        script(src='/static/js/scripts.js')
        //-
         In my layout pug template, I import my css style sheets and specify the
         the HTML metadata. I can then import the layout template into all my
         other pug templates. 
