extends layout.pug

block content
  h1 Page Not Found
  p Sorry! We couldn't find the page you were looking for.
  br
  a(href=`/books`) Home
  //-
   Error template language adapted from the Team Treehouse starter files for
   Project 8. 
